.fill-height {
  height: 100%;
}

.text-light {
  font-weight: 300;
}

.contained-width {
  max-width: 1200px;
  margin: 0 auto;
}

.color-prim {
  color: #a6b9e6;
}
.color-prim-bg {
  background: #a6b9e6;
}

.color-acc {
  color: #ff5d55;
}
.color-acc-bg {
  background: #ff5d55;
}

.color-sec {
  color: #424242;
}
.color-sec-bg {
  background: #424242;
}

.color-warn {
  color: #FFC107;
}
.color-black {
  color: black;
}

.theme--light.application {
  background: white;
}

.big-btn-label {
  font-size: 30px;
  font-weight: 300;
  min-width: 400px;
}

.elevated-container {
  margin-bottom: 100px;
}