<template>
  <div v-if="keeper">
    <v-alert :value="bookRequestAccepted" type="success" class="alert">
      Rezerwacja przyjęta, czekamy na potwierdzenie od opiekuna
    </v-alert>
    <v-alert :value="!!authError" type="error" class="alert">
      Błąd logowania
    </v-alert>
    <div class="display-1 my-4">
      Szczegóły opiekuna
    </div>
    <v-card class="keeper-record">
      <v-layout row align-center>
        <v-flex>
          <v-avatar :tile="true" :size="100">
            <img :src="keeper.photo" />
          </v-avatar>
        </v-flex>
        <v-flex xs6 class="mx-4">
          <v-layout column>
            <v-flex xs12>
              <p class="text-xs-left subheading">
                <v-icon color="#ff5d55" size="20">face</v-icon>
                {{ keeper.firstName }}
              </p>
            </v-flex>
            <v-flex xs>
              <p class="text-xs-left subheading">
                <v-icon color="#ff5d55" size="20">location_on</v-icon>
                {{ keeper.location }}
              </p>
            </v-flex>
            <v-flex xs12>
              <p v-if="keeper.superKeeper" class="text-xs-left">
                <v-icon color="#ff5d55" size="20">loyalty</v-icon>
                SUPER OPIEKUN
              </p>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs6 class="mx-4">
          <v-layout column class="text-xs-right">
            <v-rating
              v-model="keeper.rating"
              color="#ff5d55"
              size="20"
              readonly
            ></v-rating>
            <div class="subheading mx-1">
              <v-icon color="#ff5d55" size="20">attach_money</v-icon>
              {{ keeper.price }} zł/dzień
            </div>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
    <v-card class="keeper-record pa-3">
      <div>
        <h3 class="headline mb-1">Kilka słów o mnie</h3>
        <div class="subheading text-xs-left pa-2">
          {{ keeper.description }}
        </div>
      </div>
    </v-card>
    <v-card class="keeper-record pa-3">
      <h3 class="headline mb-1">Opinie</h3>
      <div v-for="opinion in keeper.opinions" :key="opinion">
        <div class="subheading text-xs-left">- {{ opinion }}</div>
      </div>
    </v-card>
    <v-btn
      v-if="!bookRequestAccepted && isFormFilled"
      color="accent"
      @click="onSubmit"
      class="action-button"
      style="width: 50%"
      large
    >
      <v-icon>done</v-icon>
      <span class="mx-2">Zarezerwuj</span>
    </v-btn>
  </div>
</template>

<script>
import keepersService from "../../services/keepersService";
import firebase from "firebase";

export default {
  components: {},
  data: () => ({
    keeper: null,
    bookRequestAccepted: false,
    authError: null,
    isFormFilled: !!window["reksio-app--form-filled"] // ugly hack
  }),
  methods: {
    onSubmit() {
      this.loginWithGoogle()
        .then(() => {
          this.bookRequestAccepted = true;
          this.authError = null;
        })
        .catch(err => {
          console.warn(err);
          this.authError = err;
        });
    },
    async loginWithGoogle() {
      const googleProvider = new firebase.auth.GoogleAuthProvider();
      return firebase.auth().signInWithPopup(googleProvider);
    }
  },
  mounted() {
    this.keeper = keepersService.getKeeper(this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
.keeper-record {
  width: 70%;
  margin: 20px auto;
  background: #fafafa;
}

.alert {
  margin: 0;
  border: 0;
  font-size: 18px;
}
</style>
