<template>
  <v-app>
    <Header />
    <v-content class="text-xs-center">
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import Header from "./Header";

export default {
  components: {
    Header
  }
};
</script>

<style lang="scss" scoped></style>
