<template>
  <header class="text-xs-left pa-3 elevation-3">
    <div class="contained-width">
      <v-layout align-center>
        <img src="../../assets/logo.png" @click="navHome" class="logo mr-3" />
        <v-flex>
          <div class="display-2 font-weight-light color-acc ">Reksio</div>
          <div class="title mt-2">
            Łączymy właścicieli zwierzaków z idealnymi opiekunami!
          </div>
        </v-flex>
      </v-layout>
    </div>
  </header>
</template>

<script>
export default {
  methods: {
    navHome() {
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
header {
  background: #fafafa;
  z-index: 10;
}
.logo {
  width: 75px;
  cursor: pointer;
}
div.display-2 {
  text-transform: uppercase;
}
</style>
