<template>
  <div class="home-container">
    <parallax :speed-factor="0.2" class="hidden-sm-and-down">
      <img src="../../assets/doggy.jpeg" width="100%" />
    </parallax>

    <section class="description-section contained-width">
      <div class="display-1 my-3">Jak to działa?</div>
      <v-layout row wrap>
        <v-flex xs12 md4 class="py-3">
          <img
            src="../../assets/search-logo.svg"
            width="15%"
            class="grey-scale"
          />
          <div class="headline">Wyszukaj</div>
          <div class="title text-light">
            Wybierz idealnego opiekuna w twojej okolicy.
          </div>
        </v-flex>

        <v-flex xs12 md4 class="py-3">
          <img src="../../assets/booking-logo.svg" width="15%" />
          <div class="headline">Zarezerwuj</div>
          <div class="title text-light">
            Zarezerwuj i zapłać za pośrednictwem aplikacji
          </div>
        </v-flex>

        <v-flex xs12 md4 class="py-3">
          <img src="../../assets/vacation-logo.svg" width="15%" />
          <div class="headline">Ciesz się wakacjami</div>
          <div class="title text-light">
            Gdy zatesknisz za swoim pupilem zawsze możesz poprosić opiekuna o
            wysłanie zdjęcia
          </div>
        </v-flex>
      </v-layout>
    </section>

    <v-layout justify-center>
      <v-flex xs10 md5>
        <v-btn
          color="accent"
          to="/form/user-type"
          class="action-button my-4 pa-4"
          style="width: 100%"
        >
          <span class="big-btn-label">Wypróbuj</span>
        </v-btn>
      </v-flex>
    </v-layout>

    <section class="contained-width my-3 pa-2">
      <div class="display-1">Najlepsi opiekunowie</div>
      <CareTakerEntry
        v-for="(keeper, i) in suggestedKeepers"
        :key="i"
        :keeper="keeper"
      />

      <v-progress-circular
        v-if="fetchingSuggestedKeepers"
        indeterminate
        size="75"
        color="accent"
        class="my-4"
      />
    </section>

    <section class="contained-width mb-5 px-3">
      <div class="display-1">Opinie klientów</div>
      <v-layout row align-center>
        <v-flex xs4 class="hidden-sm-and-down">
          <img class="opinia-img" src="../../assets/opinia.jpg" />
        </v-flex>
        <v-flex xs12 md8 class="pa-3">
          <div class="headline text-light">
            "Bałam się powierzyć ukochanego psa obcej osobie. Przekonała mnie
            jasność procesu oraz pozytywne opinie o opiekunce. Teraz mój Reksio
            widuje się z nią gdy idę na zakupy."
          </div>
          <div class="title text-light color-acc text-xs-right my-2">
            Ania z Krakowa
          </div>
        </v-flex>
      </v-layout>
    </section>
  </div>
</template>

<script>
import Parallax from "vue-parallaxy";
import keepersService from "../../services/keepersService";
import CareTakerEntry from "../../features/care-takers-list/CareTakerEntry.vue";

export default {
  components: {
    Parallax,
    CareTakerEntry
  },
  data() {
    return {
      suggestedKeepers: [],
      fetchingSuggestedKeepers: false
    };
  },
  mounted() {
    this.fetchingSuggestedKeepers = true;
    keepersService.getNearbyKeepers({}, 2).then(data => {
      this.suggestedKeepers = data;
      this.fetchingSuggestedKeepers = false;
    });
  }
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
}

.description-section {
  .title {
    line-height: 28px !important;
  }

  img {
    opacity: 0.33;
  }
}

.action-button {
  width: 30%;
  margin: 0 auto;
}
.opinia-img {
  width: 100%;
  opacity: 0.6;
}
.display-1 {
  padding: 20px;
}
</style>

<style lang="scss">
.Masthead {
  z-index: auto !important;
  min-height: auto !important;
}
</style>
