<template>
  <v-stepper v-model="step" class="elevation-0 mt-4">
    <v-stepper-header class="contained-width elevation-0">
      <v-stepper-step :complete="step > 1" step="1">
        Wypełnij formularz
      </v-stepper-step>

      <v-divider />

      <v-stepper-step :complete="step > 2" step="2">
        Poczekaj na weryfikację
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1" class="step-content">
        <div>
          <div class="display-1 my-3">
            Wypełnij formularz
          </div>
          <form class="register-form">
            <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              label="Imię"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="lastname"
              :error-messages="lastnameErrors"
              label="Nazwisko"
              required
              @input="$v.lastname.$touch()"
              @blur="$v.lastname.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="E-mail"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="city"
              :error-messages="cityErrors"
              label="Miasto"
              required
              @input="$v.city.$touch()"
              @blur="$v.city.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="address"
              :error-messages="addressErrors"
              label="Adres"
              required
              @input="$v.address.$touch()"
              @blur="$v.address.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="postcode"
              :error-messages="postcodeErrors"
              label="Kod pocztowy"
              required
              @input="$v.postcode.$touch()"
              @blur="$v.postcode.$touch()"
            ></v-text-field>
            <v-select
              v-model="select"
              :items="items"
              :error-messages="selectErrors"
              label="Możliwe rodzaje zwierząt do opieki"
              required
              multiple
              chips
              attach
              @change="$v.select.$touch()"
              @blur="$v.select.$touch()"
            ></v-select>
            <v-text-field
              v-model="price"
              :error-messages="priceErrors"
              label="Stawka za dzień (zł)"
              required
              class="mt-0"
              type="number"
              @input="$v.price.$touch()"
              @blur="$v.price.$touch()"
            ></v-text-field>
            <v-flex
              xs12
              class="text-xs-center text-sm-center text-md-center text-lg-center"
            >
              <img :src="imageUrl" height="150" v-if="imageUrl" />
              <v-text-field
                label="Prześlij zdjęcie"
                @click="pickFile"
                v-model="imageName"
                prepend-icon="attach_file"
              ></v-text-field>
              <input
                type="file"
                style="display: none"
                ref="image"
                accept="image/*"
                @change="onFilePicked"
              />
            </v-flex>
            <v-checkbox
              v-model="checkbox"
              :error-messages="checkboxErrors"
              label="Akceptuję regulamin serwisu"
              required
              @change="$v.checkbox.$touch()"
              @blur="$v.checkbox.$touch()"
            ></v-checkbox>

            <v-btn color="accent" @click="submit" large style="width: 50%">
              Wyślij!
            </v-btn>
          </form>
        </div>
      </v-stepper-content>

      <v-stepper-content step="2" class="step-content">
        <v-alert type="success" :value="true">
          Dziękujemy za wypełnienie formularza! Proszę poczeka na weryfikacje
          konta.
        </v-alert>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  email,
  maxLength,
  minLength,
  required
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],

  validations: {
    name: { required },
    email: { required, email },
    select: { required },
    lastname: { required },
    city: { required },
    address: { required },
    postcode: { required, maxLength: maxLength(6), minLength: minLength(6) },
    price: { required },
    checkbox: {
      checked(val) {
        return val;
      }
    }
  },

  data: () => ({
    step: 0,
    name: "",
    lastname: "",
    email: "",
    city: "",
    select: null,
    address: "",
    postcode: "",
    price: 100,
    items: [
      "Mały lub średni pieseł",
      "Duży pieseł",
      "Kotełeł",
      "Inne zwierzę (owca)"
    ],
    checkbox: false,
    title: "Image Upload",
    dialog: false,
    imageName: "",
    imageUrl: "",
    imageFile: ""
  }),

  computed: {
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox.$dirty) return errors;
      !this.$v.checkbox.checked &&
        errors.push("Musisz zaakceptować regulamin żeby kontynuować!");
      return errors;
    },
    selectErrors() {
      const errors = [];
      if (!this.$v.select.$dirty) return errors;
      !this.$v.select.required && errors.push("Pole jest wymagane");
      return errors;
    },
    lastnameErrors() {
      const errors = [];
      if (!this.$v.lastname.$dirty) return errors;
      !this.$v.lastname.required && errors.push("Pole jest wymagane");
      return errors;
    },
    cityErrors() {
      const errors = [];
      if (!this.$v.city.$dirty) return errors;
      !this.$v.city.required && errors.push("Pole jest wymagane");
      return errors;
    },
    addressErrors() {
      const errors = [];
      if (!this.$v.address.$dirty) return errors;
      !this.$v.address.required && errors.push("Pole jest wymagane");
      return errors;
    },
    postcodeErrors() {
      const errors = [];
      if (!this.$v.postcode.$dirty) return errors;
      !this.$v.postcode.maxLength &&
        errors.push("Kod pocztowy musi byc formatu 12-345");
      !this.$v.postcode.minLength &&
        errors.push("Kod pocztowy musi byc formatu 12-345");
      !this.$v.postcode.required && errors.push("Kod pocztowy jest wymagany");
      return errors;
    },
    priceErrors() {
      const errors = [];
      if (!this.$v.price.$dirty) return errors;
      !this.$v.price.required && errors.push("Pole jest wymagane");
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Imię jest wymagane.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Wprowadź poprawny email");
      !this.$v.email.required && errors.push("E-mail jest wymagany");
      return errors;
    }
  },

  methods: {
    redirectToHome() {
      this.$router.push("/");
    },
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.step = 2;
      }
    },
    pickFile() {
      this.$refs.image.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.step-content {
  /*height: calc(100vh - 209px);*/
}
</style>

<style lang="scss">
.v-stepper__wrapper {
  height: 100%;
}

.v-stepper__step {
  font-size: 20px;
}

.register-form {
  width: 70%;
  margin: 20px auto;
  margin-bottom: 40px;
}
</style>
