<template>
  <v-layout class="fill-height" align-center>
    <v-card class="contained-width elevated-container pa-3" style="width: 100%">
      <div class="display-1 my-3">
        Podaj swój adres
      </div>

      <section>
        <form class="o-vertical-spacing">
          <v-layout row justify-center>
            <v-flex xs8>
              <v-combobox
                color="accent"
                label="Lokalizacja"
                name="address"
                v-model="address"
                :items="cities"
                :loading="loading"
                prepend-icon="home"
                :error-messages="errorMsg"
              />
            </v-flex>
          </v-layout>
          <v-btn
            color="accent"
            @click="onNext"
            :disabled="!address"
            large
            class="my-2"
          >
            Zatwierdź
          </v-btn>
        </form>
      </section>
    </v-card>
  </v-layout>
</template>

<script>
import * as locationService from "../../services/location";

export default {
  data() {
    return {
      address: "",
      error: null,
      // Make it possible to conditionally render
      // elements based on if the geolocation API
      // is availabel or not.
      geolocationSupported: `geolocation` in navigator,
      loading: false,
      cities: ["Kraków", "Warszawa", "Poznań"]
    };
  },
  mounted() {
    if (this.geolocationSupported) {
      this.fetchAddress();
    }
  },
  computed: {
    errorMsg() {
      if (this.error) {
        return ["Location could not be determined"];
      }
      return [];
    }
  },
  methods: {
    async fetchAddress() {
      try {
        this.setLoadingState();
        this.address = await locationService.currentAddress();
        this.loading = false;
      } catch (error) {
        this.setErrorState(error);
      }
    },
    setErrorState(error) {
      this.error = error;
      this.loading = false;
    },
    setLoadingState() {
      this.error = null;
      this.loading = true;
    },
    onNext() {
      this.$emit("next", this.address);
    }
  }
};
</script>
