<template>
  <v-layout align-center class="pa-4">
    <v-flex xs12 sm12 text-xs-center>
      <div>
        <v-btn depressed large style="color: red;">Login to google</v-btn>
      </div>
      <div>
        <v-btn depressed large>Login to facebook</v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>
