<template>
  <v-stepper v-model="step" class="elevation-0 mt-4">
    <v-stepper-header class="contained-width elevation-0">
      <v-stepper-step :complete="step > 1" step="1">
        Lokalizacja
      </v-stepper-step>

      <v-divider />

      <v-stepper-step :complete="step > 2" step="2">
        Rodzaj pupila
      </v-stepper-step>

      <v-divider />

      <v-stepper-step step="3">
        Termin opieki
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1" class="step-content">
        <LocalizationPage @next="step = 2" />
      </v-stepper-content>

      <v-stepper-content step="2" class="step-content">
        <PetTypePage @next="step = 3" />
      </v-stepper-content>

      <v-stepper-content step="3" class="step-content">
        <TimePeriodPage @next="onNext" />
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import LocalizationPage from "./LocalizationPage.vue";
import PetTypePage from "./PetTypePage.vue";
import TimePeriodPage from "./TimePeriodPage.vue";

export default {
  components: { LocalizationPage, PetTypePage, TimePeriodPage },
  data() {
    return {
      step: 0
    };
  },
  methods: {
    onNext() {
      window["reksio-app--form-filled"] = true; // ugly hack
      this.$router.push("/caretakers/list");
    }
  }
};
</script>

<style lang="scss" scoped>
.step-content {
  height: calc(100vh - 209px);
}
</style>

<style lang="scss">
.v-stepper__wrapper {
  height: 100%;
}
.v-stepper__step {
  font-size: 20px;
}
</style>
