<template>
  <v-layout class="fill-height" align-center>
    <div style="width: 100%" class="elevated-container">
      <div class="display-1 my-3">
        Wybierz swojego pupila
      </div>

      <v-container grid-list-md text-xs-center>
        <v-layout row wrap class="tiles-wrapper" align-center>
          <v-flex xs3>
            <v-btn class="stretch" color="accent" @click="onNext('dog-s')">
              <img src="../../assets/small-dog.svg" class="stretch" />
            </v-btn>
            <h2>Mały lub średni pieseł</h2>
          </v-flex>
          <v-flex xs3>
            <v-btn class="stretch" color="accent" @click="onNext('dog-l')">
              <img src="../../assets/big-dog.svg" class="stretch" />
            </v-btn>
            <h2>Duży pieseł</h2>
          </v-flex>
          <v-flex xs3>
            <v-btn class="stretch" color="accent" @click="onNext('cat')">
              <img src="../../assets/cat.svg" class="stretch" />
            </v-btn>
            <h2>Koteł</h2>
          </v-flex>
          <v-flex xs3>
            <v-btn class="stretch" color="accent" @click="onNext('other')">
              <img src="../../assets/sheep.svg" class="stretch flipped-image" />
            </v-btn>
            <h2>Inne zwierzę</h2>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-layout>
</template>

<script>
export default {
  methods: {
    onNext(petType) {
      this.$emit("next", petType);
    }
  }
};
</script>

<style lang="scss" scoped>
.stretch {
  width: 100%;
  height: 100%;
}

.flipped-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
}
</style>
