<template>
  <v-layout row wrap class="fill-height" align-center>
    <v-card class="contained-width pa-3 elevated-container" style="width: 100%">
      <div class="display-1 my-4">
        Kiedy pupil potrzebuje opieki?
      </div>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs1 style="align-self: center">
            Od
          </v-flex>
          <v-flex xs5>
            <v-menu
              lazy
              :close-on-content-click="true"
              v-model="menuDateFrom"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Data"
                color="accent"
                v-model="dateFrom"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="dateFrom"
                no-title
                scrollable
                actions
              ></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs6>
            <v-menu
              lazy
              :close-on-content-click="true"
              v-model="menuTimeFrom"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Czas"
                color="accent"
                v-model="timeFrom"
                prepend-icon="watch"
              ></v-text-field>
              <v-time-picker
                v-model="timeFrom"
                no-title
                scrollable
                actions
              ></v-time-picker>
            </v-menu>
          </v-flex>

          <v-flex xs1 style="align-self: center">
            Do
          </v-flex>

          <v-flex xs5>
            <v-menu
              lazy
              :close-on-content-click="true"
              v-model="menuDateTo"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Data"
                color="accent"
                v-model="dateTo"
                prepend-icon="event"
              ></v-text-field>
              <v-date-picker
                v-model="dateTo"
                no-title
                scrollable
                actions
              ></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs6>
            <v-menu
              lazy
              :close-on-content-click="true"
              v-model="menuTimeTo"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Czas"
                color="accent"
                v-model="timeTo"
                prepend-icon="watch"
                readonly
              ></v-text-field>
              <v-time-picker
                v-model="timeTo"
                no-title
                scrollable
                actions
              ></v-time-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>
      <v-btn color="accent" large @click="onNext">
        Zatwierdź
      </v-btn>
    </v-card>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    dateFrom: new Date().toISOString().substr(0, 10),
    menuDateFrom: false,
    timeFrom: "12:00",
    menuTimeFrom: false,
    dateTo: plusDays(new Date(), 7)
      .toISOString()
      .substr(0, 10),
    menuDateTo: false,
    timeTo: "12:00",
    menuTimeTo: false
  }),
  methods: {
    onNext() {
      const data = {
        dateFrom: this.dateFrom,
        timeFrom: this.timeFrom,
        dateTo: this.dateTo,
        timeTo: this.timeTo
      };
      this.$emit("next", data);
    }
  }
};
function plusDays(date, days) {
  let result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}
</script>
