<template>
  <v-layout justify-space-around class="fill-height">
    <v-flex xs6 class="bg-panel-left">
      <v-layout column align-center justify-center class="fill-height">
        <v-btn color="accent" to="/form/owner" class="pa-4">
          <span class="big-btn-label">Jestem właścicielem</span>
        </v-btn>
        <img
          src="../../assets/owner.svg"
          style="opacity: 0.5; width: 30%"
          class="pa-4"
        />
      </v-layout>
    </v-flex>

    <v-flex xs6 class="bg-panel-right">
      <v-layout column align-center justify-center class="fill-height">
        <v-btn color="primary" to="/form/caretaker" class="pa-4">
          <span class="big-btn-label" style="color: black"
            >Jestem opiekunem</span
          >
        </v-btn>
        <img
          src="../../assets/keeper.svg"
          style="opacity: 0.5; width: 30%"
          class="pa-4"
        />
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<style lang="scss" scoped>
.bg-panel-left {
  background: rgba(#ff5d55, 0.8);
}
.bg-panel-right {
  background: rgba(#a6b9e6, 0.8);
}
</style>
