<template>
  <v-card class="keeper-record" @click="goToDetails">
    <v-layout row align-center>
      <v-flex>
        <v-avatar :tile="true" :size="100">
          <img :alt="keeper.firstName" :src="keeper.photo" />
        </v-avatar>
      </v-flex>
      <v-flex xs6 sm10 class="mx-4">
        <v-layout column>
          <v-flex xs12>
            <p class="text-xs-left subheading">
              <v-icon color="#ff5d55" size="20">face</v-icon>
              {{ keeper.firstName }}
            </p>
          </v-flex>
          <v-flex xs>
            <p class="text-xs-left subheading">
              <v-icon color="#ff5d55" size="20">location_on</v-icon>
              {{ keeper.location }}
            </p>
          </v-flex>
          <v-flex xs12>
            <p v-if="keeper.superKeeper" class="text-xs-left">
              <v-icon color="#ff5d55" size="20">loyalty</v-icon>
              SUPER OPIEKUN
            </p>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs6 class="mx-4">
        <v-layout column class="text-xs-right">
          <v-rating
            v-model="keeper.rating"
            color="#ff5d55"
            class="hidden-sm-and-down"
            size="20"
            readonly
          />
          <div class="subheading mx-1 hidden-md-and-up">
            Oceny: {{ keeper.rating }}/5
          </div>
          <div class="subheading mx-1">
            <v-icon color="#ff5d55" size="20">attach_money</v-icon>
            {{ keeper.price }} zł/dzień
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<style>
p {
  margin-bottom: 0px;
}
</style>

<script>
export default {
  components: {},
  props: {
    keeper: Object
  },
  methods: {
    goToDetails() {
      this.$router.push(`/caretakers/${this.keeper.id}`);
    }
  }
};
</script>

<style lang="scss" scoped>
.keeper-record {
  width: 90%;
  @media (min-width: 960px) {
    width: 70%;
  }
  margin: 20px auto;
  background: #fafafa;
  cursor: pointer;
  &:hover {
    background: #ededff;
  }
}
</style>
