<template>
  <div>
    <div class="display-1 my-3">
      Lista dobranych opiekunów
    </div>
    <CareTakerEntry v-for="(keeper, i) in keepers" :key="i" :keeper="keeper" />
    <v-progress-circular
      v-if="fetching"
      indeterminate
      size="75"
      color="accent"
      class="my-3"
    />
  </div>
</template>

<style>
p {
  margin-bottom: 0px;
}
</style>

<script>
import CareTakerEntry from "./CareTakerEntry.vue";
import keepersService from "../../services/keepersService";

export default {
  name: "home",
  components: { CareTakerEntry },
  data: () => ({
    keepers: [],
    fetching: false
  }),
  mounted() {
    this.fetching = true;
    keepersService.getNearbyKeepers({}).then(data => {
      this.keepers = data;
      this.fetching = false;
    });
  }
};
</script>
